<!-- <form action="/search" method="GET">
    <input type="text" name="name" id="name" />   <input type="submit" value="Search by Name"> -->

<a href="../">Home</a> <a href="/games">Games</a>  <a href="/consoles/">Consoles</a>
<%if(!isAuthenticated){%>
    <a href="/login" id="mouse_over">Update</a>
    <%} else {%>
        <a href="/logout" id="mouse_over">Done With Updates</a>
    <%} %>