<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer Central</title>
</head>
<body>
   
    <%- body%>
    
    <br><a href="/games">Games</a>
    <br><a href="/consoles/">Consoles</a>
    <br><a href="/">Search</a>
    <br>
    <%if(!isAuthenticated){%>
        <a href="/login">Login to make changes</a>
        <%} else {%>
            <a href="/logout">Logout to be done making changes</a>
        <%} %>
    
    
</body>
</html>