<body>
    <h1>New Game</h1>
    
<% if(dupe){ %>
  <h1>This game already exists in the collection!</h1>
<%}%>

    <% if(!isAuthenticated){ %>
        <h2>You do not have the ability to create a new game. Login first</h2>
      <% } else { %>
        
        


    <form action="/games/" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required/><br/>

        <label for="isDigital">Digital?</label>
    <input type="checkbox" name="isDigital" id="isDigital"/><br/>

        <label for="acquired">When Acquired</label>
        <input type="text" name="acquired" id="acquired"  /><br/>

        <label for="currentlyPlaying">Currently Playing</label>
        <input type="checkbox" name="currentlyPlaying" id="currentlyPlaying" /><br/>

        <label for="hasBeaten">Has Beaten?</label>
        <input type="checkbox" name="hasBeaten" id="hasBeaten" /><br/>

        <label for="image">Image</label>
        <input type="text" name="image" id="image"  /><br/>

        <label for="maxNumberOfPlayers">Max Number of Players: </label>
        <input type="text" name="maxNumberOfPlayers" id="maxNumberOfPlayers" /><br />

        <label for="replayable">Replayable?</label>
        <input type="checkbox" name="replayable" id="replayable" /><br/>
        
        <label for="youTubeLink">YouTube: </label>
        <input type="text" name="youTubeLink" id="youTubeLink" /> <br />
        
        <input type="submit" value="Add new game">
      </form>
<%}%>
     </body>