<body>
    <h1>New Game</h1>
    <form action="/games/" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required/><br/>

        <label for="isDigital">Digital?</label>
    <input type="checkbox" name="isDigital" id="isDigital"/><br/>

        <label for="acquired">When Acquired</label>
        <input type="text" name="acquired" id="acquired"  /><br/>

        <label for="currentlyPlaying">Currently Playing</label>
        <input type="checkbox" name="currentlyPlaying" id="currentlyPlaying" /><br/>

        <label for="hasBeaten">Has Beaten?</label>
        <input type="checkbox" name="hasBeaten" id="hasBeaten" /><br/>

        <label for="image">Image</label>
        <input type="text" name="image" id="image"  /><br/>
        
        <input type="submit" value="Add new game">
      </form>

     </body>