<body>
    <h1>New Console</h1>

<%if(!isAuthenticated){%>
      <h2>You do not have the ability to create a new console. Login first</h2>
    <%} else {%>
    <form action="/consoles/" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required/><br/>

        <label for="acquired">When Acquired</label>
        <input type="text" name="acquired" id="acquired"  /><br/>
        
        <label for="image">Image</label>
        <input type="text" name="image" id="image"  /><br/>

        <% games.forEach(game => { %>
          <label for="<%= game.name%>">
          <input type="checkbox" id="<%= game.id %>" name="games" value="<%=game.id%>"
          />
          <%= game.name %>
          </label><br />
        <%})%>

        <input type="submit" value="Add new console">
      </form>
<%}%>
     </body>