<body>
    <h1>New Console</h1>
    <form action="/consoles/" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required/><br/>

        <label for="acquired">When Acquired</label>
        <input type="text" name="acquired" id="acquired"  /><br/>
        
        <label for="image">Image</label>
        <input type="text" name="image" id="image"  /><br/>

        <input type="submit" value="Add new game">
      </form>

     </body>